<div class="gallery-lightbox-container">
  <div
    #galleryItem
    *ngFor="let column of data; let col = index"
    class="gallery"
  >
    <div *ngFor="let data of column; let i = index" class="gallery-img">
      <img
        appImageLazyLoader
        (click)="onPreviewImage(col, i)"
        [src]="data.src"
        alt="{{ data.alt }}"
        onKeyPress=""
        onKeyDown=""
        onKeyUp=""
      />
    </div>
  </div>
  <div *ngIf="showMask" class="lightbox" [@animation-leave]="{ value: 'hide' }">
    <button
      type="button"
      (click)="onclosePreview()"
      *ngIf="previewImage"
      class="close-btn"
      title="Close"
    >
      <span
        class="icon-lightbox-carousel"
        onKeyPress=""
        onKeyDown=""
        onKeyUp=""
      >
        Close
      </span>
    </button>
    <button
      *ngIf="controls"
      class="btn-lightbox-carousel btn-prev"
      title="Previous"
      (click)="prev()"
    >
      <span class="icon-lightbox-carousel">Prev</span>
    </button>
    <button
      *ngIf="controls"
      class="btn-lightbox-carousel btn-next"
      title="Next"
      (click)="next()"
    >
      <span class="icon-lightbox-carousel">Next</span>
    </button>
    <div
      *ngIf="previewImage"
      [@animation-enter]="{ value: 'visible' }"
      (@animation-enter.done)="onAnimationEnd($event)"
      class="lightbox-img"
    >
      <img
        *ngIf="currentLightboxImg"
        src="{{ currentLightboxImg.src }}"
        alt="{{ currentLightboxImg.alt }}"
      />
    </div>
  </div>
</div>
