<div #container class="gallery-lightbox-container">
  @for (item of galleryItems(); track item.data.url; let i = $index) {
    <div
      class="gallery-img"
      [ngClass]="
        'item-' +
        item.cols +
        'x' +
        item.rows +
        ' col-start-' +
        item.gridColumnStart
      "
    >
      <img
        #galleryImg
        (click)="onPreviewImage(i)"
        alt="{{ item.data.title }}"
        src="{{ item.data.url }}/width/{{ getGalleryPreviewWidth() }}"
        width="{{ getGalleryPreviewWidth() }}"
        height="{{
          getGalleryPreviewHeight(item.data.width, item.data.height)
        }}"
        srcset="{{ item.data.url }}/width/400 400w, {{
          item.data.url
        }}/width/600 600w, {{ item.data.url }}/width/800 800w, {{
          item.data.url
        }}/width/1000 1000w, {{ item.data.url }}/width/1200 1200w"
        sizes="{{
          item.cols === 2
            ? '(max-width: 650px) 100vw, (max-width: 1024px) 100vw, (max-width: 1500px) 66vw, 50vw'
            : '(max-width: 650px) 100vw, (max-width: 1024px) 50vw, (max-width: 1500px) 33vw, 25vw'
        }}"
        [attr.fetchpriority]="i < 2 ? 'high' : 'auto'"
        [attr.loading]="i < 2 ? 'eager' : 'lazy'"
      />
    </div>
  }
  @defer (when showMask()) {
    @if (showMask()) {
      <app-lightbox
        [currentLightboxImg]="currentLightboxImg()"
        [imageNum]="imageNum"
        [totalImageCount]="totalImageCount"
        [controls]="controls"
        [previewImage]="previewImage()"
        (close)="onclosePreview()"
        (prevAction)="prev()"
        (nextAction)="next()"
        (animationEnd)="onAnimationEnd($event)"
      >
      </app-lightbox>
    }
  }
</div>
<div #sentinel class="sentinel" style="height: 1px; width: 100%"></div>
