<div class="header">
		<header id="masthead" class="site-header" role="banner">
			<div class="site-branding">
				<h1 class="site-title"><a href="/" rel="home">Riccardo Giannetto</a></h1>
				<h2 class="site-description">Wild Nature Photography</h2>
			</div>
			<nav id="site-navigation" class="main-navigation" role="navigation">
        <button title="menu" class="menu-toggle" aria-controls="primary-menu" aria-expanded="false">=</button>

        <ul class="nav-menu">
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/blog">Blog</a></li>
          <li><a routerLink="/portfolio">Portfolio</a></li>
          <li><a routerLink="/pages/about">About</a></li>
        </ul>
			</nav>
		</header>
	</div>
