<div class="header">
  <header class="site-header" role="banner">
    <div class="site-branding" [class.font-loaded]="fontsLoaded()">
      <h1 class="site-title">
        <a routerLink="/" rel="home">Riccardo Giannetto</a>
      </h1>
      <h2 class="site-description">Wild Nature Photography</h2>
    </div>
    <button
      (click)="toggleMenu()"
      title="menu"
      type="button"
      class="menu-toggle"
      aria-controls="primary-menu"
      aria-expanded="false"
    >
      =
    </button>
    <nav #menu class="main-navigation" role="navigation">
      <ul class="nav-menu">
        <li><a (click)="toggleMenu()" routerLink="/">Home</a></li>
        <li><a (click)="toggleMenu()" routerLink="/blog">Blog</a></li>
        <li><a (click)="toggleMenu()" routerLink="/portfolio">Portfolio</a></li>
        <li><a (click)="toggleMenu()" routerLink="/pages/about">About</a></li>
      </ul>
    </nav>
  </header>
</div>
