<div class="header">
  <header class="site-header" role="banner">
    <div class="site-branding" [class.loaded]="isLoaded()">
      <h1 class="site-title">
        <a
          routerLink="/"
          rel="home"
          aria-label="Riccardo Giannetto - Wild Nature Photography"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="-10 -10 350 140"
            class="logo-svg"
            preserveAspectRatio="xMinYMid meet"
            width="400"
            height="120"
            overflow="visible"
          >
            <defs>
              <filter
                id="logo-shadow"
                filterUnits="userSpaceOnUse"
                x="-50"
                y="-50"
                width="450"
                height="260"
              >
                <feDropShadow
                  dx="2"
                  dy="1"
                  stdDeviation="1"
                  flood-color="#d3d3d3"
                />
              </filter>
            </defs>

            <g filter="url(#logo-shadow)">
              <text
                x="10"
                y="50"
                text-anchor="start"
                class="logo-text logo-title"
              >
                Riccardo Giannetto
              </text>

              <text
                x="20"
                y="85"
                text-anchor="start"
                class="logo-text logo-subtitle"
              >
                Wild Nature Photography
              </text>
            </g>
          </svg>
        </a>
      </h1>
    </div>
    <button
      (click)="toggleMenu()"
      title="menu"
      type="button"
      class="menu-toggle"
      aria-controls="primary-menu"
      aria-expanded="false"
    >
      =
    </button>
    <nav #menu class="main-navigation" role="navigation">
      <ul class="nav-menu">
        <li><a (click)="toggleMenu()" routerLink="/">Home</a></li>
        <li><a (click)="toggleMenu()" routerLink="/blog">Blog</a></li>
        <li><a (click)="toggleMenu()" routerLink="/portfolio">Portfolio</a></li>
        <li><a (click)="toggleMenu()" routerLink="/map">Map</a></li>
        <li><a (click)="toggleMenu()" routerLink="/pages/about">About</a></li>
      </ul>
    </nav>
  </header>
</div>
