@import "leaflet/dist/leaflet.css";
@font-face {
  font-family: "myfantasy";
  font-style: normal;
  font-weight: 400;
  font-display: optional;
  src: url("/assets/fonts/Fantasy.woff") format("woff");
}

html {
  font-family: sans-serif;
  box-sizing: border-box;
  scrollbar-gutter: stable;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

app-header,
app-footer {
  display: block;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.nav-menu ul > li,
body {
  margin: 0;
  touch-action: pan-y, pan-x;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

figure {
  margin: 1em 0;
}

body {
  font-size: 18px;
  background: #fff;
}

body,
input,
select {
  color: #595959;
}

body,
input,
select,
textarea {
  font-family:
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Open Sans",
    sans-serif;
  line-height: 24px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin: 0 0 1.5em;
}

@media (max-width: 1199px) {
  body,
  button,
  input,
  select,
  textarea {
    font-size: 16px;
    line-height: 22px;
  }
}

@media (max-width: 991px) {
  body,
  button,
  input,
  select,
  textarea {
    font-size: 14px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  color: #171717;
  margin: 10px 0 20px;
}

h1 {
  font-size: 36px;
  line-height: 46px;
}

h2 {
  font-size: 32px;
  line-height: 38px;
}

h3 {
  font-size: 28px;
  line-height: 34px;
}

h4 {
  font-size: 24px;
  line-height: 30px;
}

h5,
h6 {
  font-size: 20px;
  line-height: 24px;
}

h6 {
  font-size: 18px;
}

p {
  margin-bottom: 20px;
}

blockquote {
  margin: 0;
  padding: 0;
  font-style: italic;
  font-family: "Libre Baskerville", serif;
}
pre {
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
}

code,
kbd,
tt,
var {
  font:
    15px "Courier 10 Pitch",
    Courier,
    monospace;
}

*,
:after,
:before {
  box-sizing: inherit;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
}

blockquote,
q {
  quotes: "" "";
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  display: inline-block;
  border: 0;
  border-bottom: 2px solid #171717;
  border-top: 2px solid transparent;
  color: #171717;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  padding: 4px 0;
  font-weight: 700;
  background: 0 0;
  cursor: pointer;
  transition: all 200ms linear;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  border-color: #dbdbdb;
}

app-header {
  display: block; // Fix for Angular host element behavior
}

.header {
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  min-height: 125px;
  position: relative;
  z-index: 1000;
  background: #fff;
}

header.site-header {
  max-width: 1200px;
  margin: auto;
  padding: 10px 10px 0; // Reduced top padding
  z-index: 99;
  position: relative;
  // Clearfix for floated children (.site-branding left, .main-navigation right)
  display: flow-root;
}

h1.page-title,
h1.site-title {
  font-family: myfantasy, sans-serif;
  text-shadow: 2px 1px 2px #d3d3d3;
}

.site-branding {
  width: 250px;
  height: 96px;
  position: relative;
  float: left;
  overflow: hidden;
  margin-bottom: 10px;

  // Start hidden
  opacity: 0;
  transition: opacity 0.5s ease-out;

  // Reveal only when loaded
  &.loaded {
    opacity: 1;
  }

  .logo-svg {
    width: 100%;
    height: 100%;
    display: block;
  }
}

@media screen and (max-width: 360px) {
  .site-branding {
    width: 200px;
    height: 67px;
  }
}

.footer-widgets {
  margin: 30px 0;
}

.site-content {
  padding: 20px 10px 0;
  max-width: 1200px;
  margin: auto;
}

h1.page-title {
  font-size: x-large;
  font-style: italic;
  font-weight: 700;
  padding: 0 20px;
}

.main-navigation {
  position: relative;
  display: block;
  float: right;
  top: 20px;
}

.main-navigation ul {
  display: block;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.main-navigation li {
  float: left;
  position: relative;
}

.main-navigation a {
  display: block;
  text-decoration: none;
}

.main-navigation ul ul {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  float: left;
  position: absolute;
  top: 2em;
  left: -999em;
  z-index: 99999;
}

.main-navigation ul ul ul {
  left: -999em;
  top: 0;
}

.main-navigation ul ul a {
  width: 170px;
}

.main-navigation ul li.focus > ul,
.main-navigation ul li:hover > ul {
  left: -50px;
}

@media only screen and (min-width: 768px) {
  .main-navigation ul li.focus > ul,
  .main-navigation ul li:hover > ul {
    left: auto;
  }
}

.main-navigation ul ul li.focus > ul,
.main-navigation ul ul li:hover > ul {
  left: 100%;
}

.main-navigation.toggled ul,
.menu-toggle,
.nav-menu li.sfHover > ul,
.nav-menu li:hover > ul,
.nav-menu > li {
  display: block;
}

#primary-menu li {
  padding: 10px;
}

.menu-main-container {
  background: #fff 0 0;
  display: block;
  position: absolute;
  right: 0;
  width: 140px;
}

.site-main .comment-navigation,
.site-main .post-navigation,
.site-main .posts-navigation {
  margin: 0 0 1.5em;
  overflow: hidden;
  padding: 0 20px;
}

.comment-navigation .nav-previous,
.post-navigation .nav-previous,
.posts-navigation .nav-previous {
  float: left;
  width: 50%;
}

.comment-navigation .nav-next,
.post-navigation .nav-next,
.posts-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%;
}

.nav-menu,
.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu li,
.nav-menu > li > a {
  position: relative;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 150%;
  left: 0;
  z-index: 99;
  width: 180px;
  background: #fff;
  color: #000;
  padding: 5px 0;
}

.nav-menu ul ul {
  background: #91c382;
  margin: -15px 0 0 1px;
  top: 0;
  left: -180px;
}

.nav-menu > li {
  padding: 0;
  float: left;
  margin: 0 0 0 25px;
}

@media (max-width: 991px) {
  .nav-menu > li {
    float: none;
    margin: 0 10px;
    display: inline-block;
  }
}

.nav-menu > li > a {
  color: #595959;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  font-weight: normal;
  margin: auto;
  display: block;
}

.nav-menu > li > a:hover {
  transition: transform 0.2s;
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}

.nav-menu > li > a:before,
.site-info a:before {
  content: "";
  position: absolute;
  bottom: -2px;
  height: 2px;
  background: #dbdbdb;
  left: 50%;
  right: 50%;
  -webkit-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.nav-menu > li.current-menu-item > a:before,
.nav-menu > li.current_page_item > a:before,
.nav-menu > li.sfHover > a:before,
.nav-menu > li > a:hover:before {
  left: 0;
  right: 0;
}

.nav-menu li li > .sf-with-ul:after,
.nav-menu > li > .sf-with-ul:after {
  font-family: "dashicons", sans-serif;
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
}

.nav-menu > li > .sf-with-ul:after {
  content: "";
  margin: 0 0 0 5px;
  vertical-align: middle;
}

.nav-menu a,
.nav-menu li li > .sf-with-ul {
  position: relative;
}

.nav-menu li li > .sf-with-ul:after {
  content: "";
  position: absolute;
  right: 3px;
  top: 50%;
  margin: -8px 0 0;
  height: 16px;
  width: 12px;
  text-align: left;
}

.nav-menu ul > li > a {
  padding: 5px 15px;
  color: #000;
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
  position: relative;
}

.nav-menu ul > li > a:before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 100%;
  background: #171717;
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  z-index: -1;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  transition: all 300ms linear;
}

.nav-menu ul > li.current-menu-item > a:before,
.nav-menu ul > li.current_page_item > a:before,
.nav-menu ul > li.sfHover > a:before,
.nav-menu ul > li > a:hover:before {
  opacity: 0.1;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=10);
  right: 0;
}

.nav-menu a {
  display: block;
}

.main-navigation .visible {
  display: block;
}

.menu-toggle {
  width: 28px;
  height: 28px;
  font-size: x-large;
  border: 1px solid #000;
  color: #8e8e8e;
  display: none;
}

.clear:after,
.clear:before,
.comment-content:after,
.comment-content:before,
.entry-content:after,
.entry-content:before,
.site-content:after,
.site-content:before,
.site-footer:after,
.site-footer:before,
.site-header:after,
.site-header:before {
  content: "";
  display: table;
}

.clear:after,
.comment-content:after,
.entry-content:after,
.site-content:after,
.site-footer:after,
.site-header:after {
  clear: both;
}

.site-footer {
  transform: translate(0, 0);
  padding: 30px 0;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  font-size: 14px;
}

.site-info {
  text-align: center;
}

.site-info a {
  font-weight: bolder;
  color: #595959;
  text-decoration: none;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Ensure the main content area grows to fill available space */
.main {
  flex: 1;
  width: 100%;
  max-width: 1200px;
  /* min-height removed */
  margin: auto;
  padding: 0 10px 30px;
}

article,
article p {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  text-align: justify;
}

article p {
  margin: 10px 5px 5px;
}

article a:hover {
  color: rgba(0, 0, 0, 0.75);
}

article a,
article a:visited {
  color: rgba(0, 0, 0, 0.6);
}

article figcaption,
article h1,
article h2,
article h3,
article h4,
article h5 {
  font-style: italic;
  font-family: "Libre Baskerville", serif;
  color: rgba(0, 0, 0, 0.7);
  margin: 10px 0 -10px;
}

article figcaption,
article h2,
article h3,
article h4,
article h5 {
  margin: 0 5px 10px;
}

article h2,
article h3,
article h4,
article h5 {
  margin: 20px 10px 10px;
}

article h5 {
  margin: 40px 20px 10px 0;
}

article dl,
article ol,
article ul {
  padding: 0 0.5em;
  margin: 0 1.2em;
}

#breadcrumbs,
article ol li,
article ul li {
  text-align: left;
}

article img {
  margin: 20px auto;
  max-width: 100%;
}

article table {
  border: 1px solid;
}

article td,
article th {
  border: 1px solid;
  padding: 10px;
}

:host {
  display: block;
  text-align: center;
}

.gallery-lightbox-container {
  --gallery-gap: 30px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-flow: dense;
  padding: 30px;
  gap: var(--gallery-gap);
  z-index: 100;
  width: 100%;
  min-height: 100vh; /* Force min-height to push footer off-screen initially */

  &.lightbox-open {
    z-index: 100000 !important;
  }

  .gallery-img {
    position: relative;
    display: block;
    width: 100%;

    &.col-start-1 {
      grid-column-start: 1;
    }
    &.col-start-2 {
      grid-column-start: 2;
    }
    &.col-start-3 {
      grid-column-start: 3;
    }
    &.col-start-4 {
      grid-column-start: 4;
    }

    // Default Padding/Size strategy is handled by item-classes now
    // But we keep the container properties
    height: 0;

    .loading-msg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 10;
      background-color: #999;
      border-radius: 0.35rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    > img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100% !important;
      display: block;
      border-radius: 0.35rem;
      padding: 10px;
      border: 1px solid rgba(0, 0, 0, 0.5);
      box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
      object-fit: cover;
      box-sizing: border-box;
    }

    // --- Grid Item Sizes & Alignment ---
    // Base Calculation:
    // 1 Unit Height (Row) = 66.666% of 1 Unit Width (Col)
    // Gap = var(--gallery-gap)

    &.item-1x1 {
      grid-column-end: span 1;
      grid-row-end: span 1;
      padding-bottom: 66.666667%; // 3:2 Ratio
    }

    &.item-1x2 {
      grid-column-end: span 1;
      grid-row-end: span 2;
      // Height = 2 * Row + Gap
      // = 2 * 66.66% + Gap
      padding-bottom: calc(133.333333% + var(--gallery-gap));
    }

    &.item-2x2 {
      grid-column-end: span 2;
      grid-row-end: span 2;
      // Width = 2 Units + Gap
      // Target Height = 2 Rows + Gap = 2 UnitsH + Gap
      // P = (TargetHeight / Width) * 100%
      // Calculation derived: 66.66% + (Gap/3)
      padding-bottom: calc(66.666667% + (var(--gallery-gap) / 3));
    }

    &.item-2x4 {
      grid-column-end: span 2;
      grid-row-end: span 4;
      // Target Height = 4 Rows + 3 Gaps
      // Calculation derived: 133.33% + (5/3 * Gap)
      padding-bottom: calc(133.333333% + (var(--gallery-gap) * 1.666667));
    }
  }

  .lightbox {
    /* Styles moved to LightboxComponent */
    display: none;
  }
}

@media screen and (max-width: 1500px) {
  .gallery-lightbox-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 991px) {
  .main {
    max-width: 800px;
    /* min-height removed */
    margin: auto;
    padding: 0 10px 30px;
  }

  .gallery-lightbox-container {
    grid-template-columns: repeat(2, 1fr);
    --gallery-gap: 20px;
    padding: 20px;
    gap: var(--gallery-gap);

    .lightbox {
      /* Moved to component */
      display: none;
    }
  }
}

@media screen and (max-width: 650px) {
  .gallery-lightbox-container {
    grid-template-columns: 1fr;
    --gallery-gap: 10px;
    padding: 10px;
    gap: var(--gallery-gap);
    min-height: 100vh; // Ensure container has height before content loads

    // Force items to behave linearly on mobile
    .gallery-img {
      grid-column: span 1 !important;
      grid-row: span 1 !important;

      // Unwind padding-hack in favor of native aspect-ratio for CLS stability
      height: auto !important;
      padding-bottom: 0 !important;

      // 1x1 stays 1x1 (Landscape 3:2)
      &.item-1x1 {
        aspect-ratio: 3 / 2;
      }

      // 1x2 stays 1x2 (Portrait 3:4)
      &.item-1x2 {
        aspect-ratio: 3 / 4;
      }

      // 2x2 becomes 1x1 (Landscape 3:2)
      &.item-2x2 {
        aspect-ratio: 3 / 2;
      }

      // 2x4 becomes 1x2 (Portrait 3:4)
      &.item-2x4 {
        aspect-ratio: 3 / 4;
      }
    }

    // Safety precaution against spill-over
    .gallery-img {
      overflow: hidden;

      > img {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }

  .main-navigation ul {
    background: #fff;
    float: none;
    margin: 0;
    top: 100%;
    position: relative;
  }
  .nav-menu > li {
    position: relative;
    float: none;
    margin: 0 10px;
    display: block;
  }

  .menu-toggle {
    display: block;
    right: 20px;
    position: absolute;
  }

  .main-navigation {
    position: absolute;
    top: 100px;
    width: 100%;
    z-index: 9999;
    background: #fff;
    display: none;
    left: 0;
    padding-bottom: 10px;
  }

  .visible {
    display: block;
  }

  .main-navigation ul {
    display: block;
    float: right;
    margin-right: 10px;
  }

  .nav-menu > li {
    display: block;
    float: left;
    margin: 0 10px;
  }

  .menu-main-container {
    background: #fff 0 0;
    display: block;
    position: absolute;
    width: 100%;
    padding: 0;
  }
}

.about img {
  width: 300px;
  float: left;
  margin: 15px;
}

@media screen and (max-width: 400px) {
  .about img {
    float: none;
    display: block;
    margin: 15px auto;
  }
}
