@font-face {
  font-family: "myfantasy";
  font-style: normal;
  font-weight: 400;
  src: local("Fantasy"), url(assets/fonts/Fantasy.woff) format("woff");
}

html {
  font-family: sans-serif;
  box-sizing: border-box;
}

.nav-menu ul > li,
body {
  margin: 0;
  touch-action: pan-y, pan-x;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

figure {
  margin: 1em 0;
}

body {
  font-size: 18px;
  background: #fff;
}

body,
input,
select {
  color: #595959;
}

body,
input,
select,
textarea {
  font-family: "Open Sans", sans-serif;
  line-height: 24px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin: 0 0 1.5em;
}

@media (max-width: 1199px) {
  body,
  button,
  input,
  select,
  textarea {
    font-size: 16px;
    line-height: 22px;
  }
}

@media (max-width: 991px) {
  body,
  button,
  input,
  select,
  textarea {
    font-size: 14px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  color: #171717;
  margin: 10px 0 20px;
}

h1 {
  font-size: 36px;
  line-height: 46px;
}

h2 {
  font-size: 32px;
  line-height: 38px;
}

h3 {
  font-size: 28px;
  line-height: 34px;
}

h4 {
  font-size: 24px;
  line-height: 30px;
}

h5,
h6 {
  font-size: 20px;
  line-height: 24px;
}

h6 {
  font-size: 18px;
}

p {
  margin-bottom: 20px;
}

blockquote {
  margin: 0;
  padding: 0;
  font-style: italic;
  font-family: "Libre Baskerville", serif;
}
pre {
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
}

code,
kbd,
tt,
var {
  font: 15px "Courier 10 Pitch", Courier, monospace;
}

*,
:after,
:before {
  box-sizing: inherit;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
}

blockquote,
q {
  quotes: "" "";
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  display: inline-block;
  border: 0;
  border-bottom: 2px solid #171717;
  border-top: 2px solid transparent;
  color: #171717;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  padding: 4px 0;
  font-weight: 700;
  background: 0 0;
  cursor: pointer;
  transition: all 200ms linear;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  border-color: #dbdbdb;
}

.header {
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header.site-header {
  max-width: 1200px;
  margin: auto;
  padding: 20px 10px 0;
  z-index: 99;
  position: relative;
}

h1.page-title,
h1.site-title {
  font-family: myfantasy, sans-serif;
  text-shadow: 2px 1px 2px #d3d3d3;
}

h1.site-title {
  margin-bottom: 0;
  font-weight: normal;
  font-size: 60px;
}

h1.site-title a,
h1.site-title a:hover {
  color: #595959;
  text-decoration: none;
}

h2.site-description {
  font-family: myfantasy, sans-serif;
  font-size: 25px;
  margin: 0 10px;
  position: relative;
  top: -5px;
  color: #595959;
  text-shadow: 2px 1px 2px #d3d3d3;
}

.site-branding {
  width: 313px;
  position: relative;
  float: left;
}

@media screen and (max-width: 360px) {
  .site-branding {
    width: 260px;
  }
}

.footer-widgets {
  margin: 30px 0;
}

.site-content {
  padding: 20px 10px 0;
  max-width: 1200px;
  margin: auto;
}

h1.page-title {
  font-size: x-large;
  font-style: italic;
  font-weight: 700;
  padding: 0 20px;
}

.main-navigation {
  position: relative;
  display: block;
  float: right;
  top: 20px;
}

.main-navigation ul {
  display: block;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.main-navigation li {
  float: left;
  position: relative;
}

.main-navigation a {
  display: block;
  text-decoration: none;
}

.main-navigation ul ul {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  float: left;
  position: absolute;
  top: 2em;
  left: -999em;
  z-index: 99999;
}

.main-navigation ul ul ul {
  left: -999em;
  top: 0;
}

.main-navigation ul ul a {
  width: 170px;
}

.main-navigation ul li.focus > ul,
.main-navigation ul li:hover > ul {
  left: -50px;
}

@media only screen and (min-width: 768px) {
  .main-navigation ul li.focus > ul,
  .main-navigation ul li:hover > ul {
    left: auto;
  }
}

.main-navigation ul ul li.focus > ul,
.main-navigation ul ul li:hover > ul {
  left: 100%;
}

.main-navigation.toggled ul,
.menu-toggle,
.nav-menu li.sfHover > ul,
.nav-menu li:hover > ul,
.nav-menu > li {
  display: block;
}

#primary-menu li {
  padding: 10px;
}

.menu-main-container {
  background: #fff 0 0;
  display: block;
  position: absolute;
  right: 0;
  width: 140px;
}

.site-main .comment-navigation,
.site-main .post-navigation,
.site-main .posts-navigation {
  margin: 0 0 1.5em;
  overflow: hidden;
  padding: 0 20px;
}

.comment-navigation .nav-previous,
.post-navigation .nav-previous,
.posts-navigation .nav-previous {
  float: left;
  width: 50%;
}

.comment-navigation .nav-next,
.post-navigation .nav-next,
.posts-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%;
}

.nav-menu,
.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu li,
.nav-menu > li > a {
  position: relative;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 150%;
  left: 0;
  z-index: 99;
  width: 180px;
  background: #fff;
  color: #000;
  padding: 5px 0;
}

.nav-menu ul ul {
  background: #91c382;
  margin: -15px 0 0 1px;
  top: 0;
  left: -180px;
}

.nav-menu > li {
  padding: 0;
  float: left;
  margin: 0 0 0 25px;
}

@media (max-width: 991px) {
  .nav-menu > li {
    float: none;
    margin: 0 10px;
    display: inline-block;
  }
}

.nav-menu > li > a {
  color: #595959;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  font-weight: lighter;
}

.nav-menu > li > a:before,
.site-info a:before {
  content: "";
  position: absolute;
  bottom: -2px;
  height: 2px;
  background: #dbdbdb;
  left: 50%;
  right: 50%;
  -webkit-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.nav-menu > li.current-menu-item > a:before,
.nav-menu > li.current_page_item > a:before,
.nav-menu > li.sfHover > a:before,
.nav-menu > li > a:hover:before {
  left: 0;
  right: 0;
}

.nav-menu li li > .sf-with-ul:after,
.nav-menu > li > .sf-with-ul:after {
  font-family: "dashicons", sans-serif;
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
}

.nav-menu > li > .sf-with-ul:after {
  content: "";
  margin: 0 0 0 5px;
  vertical-align: middle;
}

.nav-menu a,
.nav-menu li li > .sf-with-ul {
  position: relative;
}

.nav-menu li li > .sf-with-ul:after {
  content: "";
  position: absolute;
  right: 3px;
  top: 50%;
  margin: -8px 0 0;
  height: 16px;
  width: 12px;
  text-align: left;
}

.nav-menu ul > li > a {
  padding: 5px 15px;
  color: #000;
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
  position: relative;
}

.nav-menu ul > li > a:before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 100%;
  background: #171717;
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  z-index: -1;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  transition: all 300ms linear;
}

.nav-menu ul > li.current-menu-item > a:before,
.nav-menu ul > li.current_page_item > a:before,
.nav-menu ul > li.sfHover > a:before,
.nav-menu ul > li > a:hover:before {
  opacity: 0.1;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=10);
  right: 0;
}

.nav-menu a {
  display: block;
}

.main-navigation .visible {
  display: block;
}

.menu-toggle {
  width: 28px;
  height: 28px;
  font-size: x-large;
  border: 1px solid #000;
  color: #8e8e8e;
  display: none;
}

.clear:after,
.clear:before,
.comment-content:after,
.comment-content:before,
.entry-content:after,
.entry-content:before,
.site-content:after,
.site-content:before,
.site-footer:after,
.site-footer:before,
.site-header:after,
.site-header:before {
  content: "";
  display: table;
}

.clear:after,
.comment-content:after,
.entry-content:after,
.site-content:after,
.site-footer:after,
.site-header:after {
  clear: both;
}

.site-footer {
  padding: 30px 0;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  font-size: 14px;
}

.site-info {
  text-align: center;
}

.site-info a {
  font-weight: bolder;
  color: #595959;
  text-decoration: none;
}

.main {
  max-width: 1200px;
  margin: auto;
  padding: 0 10px 30px;
}

article,
article p {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  text-align: justify;
}

article p {
  margin: 10px 5px 5px;
}

article a:hover {
  color: rgba(0, 0, 0, 0.75);
}

article a,
article a:visited {
  color: rgba(0, 0, 0, 0.6);
}

article figcaption,
article h1,
article h2,
article h3,
article h4,
article h5 {
  font-style: italic;
  font-family: "Libre Baskerville", serif;
  color: rgba(0, 0, 0, 0.7);
  margin: 10px 0 -10px;
}

article figcaption,
article h2,
article h3,
article h4,
article h5 {
  margin: 0 5px 10px;
}

article h2,
article h3,
article h4,
article h5 {
  margin: 20px 10px 10px;
}

article h5 {
  margin: 40px 20px 10px 0;
}

article dl,
article ol,
article ul {
  padding: 0 0.5em;
  margin: 0 1.2em;
}

#breadcrumbs,
article ol li,
article ul li {
  text-align: left;
}

article img {
  margin: 20px auto;
  max-width: 100%;
}

article table {
  border: 1px solid;
}

article td,
article th {
  border: 1px solid;
  padding: 10px;
}

:host {
  display: block;
  text-align: center;
}

.gallery-lightbox-container {
  position: relative;
  display: inline-block;
  padding: 25px;
  z-index: 100;

  .gallery {
    line-height: 0;
    width: 33%;
    height: auto;
    display: block;
    float: left;
    padding: 15px;

    .gallery-img img {
      width: 100%;
      height: 100%;
      cursor: zoom-in;
      border-radius: 0.35rem;
      margin-bottom: 30px;
      box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.21);
    }
  }

  .lightbox {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);

    .count {
      position: absolute;
      top: 0;
      left: 0;
      width: 90px;
      height: 10%;
      color: #fff;
      opacity: 0.7;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 5px;
    }

    .close-btn {
      position: absolute;
      top: 0;
      right: 0;
      color: #fff;
      background: 0 0;
      border: 0;
      width: 90px;
      height: 10%;
      z-index: 2;
      font-size: 18px;
    }

    .btn-lightbox-carousel {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;
      width: 90px;
      height: 8%;
      padding: 0;
      color: #fff;
      text-align: center;
      background: 0 0;
      border: 0;
      cursor: pointer;
    }

    .btn-prev {
      left: 0;
    }

    .btn-next {
      right: 0;
    }

    .icon-lightbox-carousel {
      color: #fff;
      opacity: 0.5;
      transition: all 0.15s ease;
      font-size: 18px;
    }

    .icon-lightbox-carousel:hover {
      opacity: 0.9;
    }

    .icon-lightbox-carousel:active {
      opacity: 0.5;
    }

    .lightbox-img img {
      width: 100%;
      border-radius: 0.35rem;
    }
  }
}

@media screen and (max-width: 1024px) {
  .gallery-lightbox-container {
    padding: 5px;
    .gallery {
      padding: 25px 15px;

      width: 50%;
    }
  }
}

@media screen and (max-width: 650px) {
  .gallery-lightbox-container {
    padding: 5px;

    .gallery {
      padding: 25px 10px;

      width: 100%;
    }
  }
}

@media screen and (max-width: 650px) {
  .main-navigation ul {
    background: #fff;
    float: none;
    margin: 0;
    top: 100%;
    position: relative;
  }
  .nav-menu > li {
    position: relative;
    float: none;
    margin: 0 10px;
    display: block;
  }
}

@media only screen and (max-width: 650px) {
  .menu-toggle {
    display: block;
    right: 20px;
    position: absolute;
  }

  .main-navigation {
    position: relative;
    top: 0;
    display: none;
  }

  .visible {
    display: block;
  }

  .main-navigation ul,
  .nav-menu > li {
    display: block;
    margin: 0 auto;
  }

  .menu-main-container {
    background: #fff 0 0;
    display: block;
    position: absolute;
    width: 100%;
    padding: 0;
  }

  .nav-menu > li {
    float: left;
    margin: 0 10px;
  }
}
