:host {
  display: contents;
}

.lightbox {
  opacity: 0;
  transform: scale(0.98);
  transition:
    opacity 150ms ease-out,
    transform 150ms ease-out;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 1000;

  &.is-open {
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
  }

  .count {
    position: absolute;
    top: 0;
    left: 0;
    width: 90px;
    height: 10%;
    color: #fff;
    opacity: 0.7;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
  }

  .close-btn {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    background: 0 0;
    border: 0;
    width: 90px;
    height: 10%;
    z-index: 2;
    font-size: 18px;
  }

  .btn-lightbox-carousel {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    width: 90px;
    height: 8%;
    padding: 0;
    color: #fff;
    text-align: center;
    background: 0 0;
    border: 0;
    cursor: pointer;
  }

  .btn-prev {
    left: 0;
  }

  .btn-next {
    right: 0;
  }

  .icon-lightbox-carousel {
    color: #fff;
    opacity: 0.5;
    transition: all 0.15s ease;
    font-size: 18px;
  }

  .icon-lightbox-carousel:hover {
    opacity: 0.9;
  }

  .icon-lightbox-carousel:active {
    opacity: 0.5;
  }

  .signature {
    font-family: myfantasy, sans-serif;
    font-weight: bold;
    position: absolute;
    right: 16px;
    bottom: 16px;
    color: rgba(255, 255, 255, 1);
    text-shadow:
      -1px 0 rgba(0, 0, 0, 0.56),
      0 1px rgba(0, 0, 0, 0.56),
      1px 0 rgba(0, 0, 0, 0.56),
      0 -1px rgba(0, 0, 0, 0.56);
    opacity: 0.9;
    font-size: 50px;
    display: flex;
    justify-content: right;
    align-items: center;
    pointer-events: none;
  }

  .lightbox-img {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: scale(0.98);
    transition:
      opacity 150ms ease-out,
      transform 150ms ease-out;

    &.is-open {
      opacity: 1;
      transform: scale(1);
    }
  }

  .lightbox-frame {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90vw;
    height: 85vh;
    transform-style: preserve-3d;
    perspective: 1400px;
  }


  .lightbox-img img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    background-color: #fff;
    outline: 10px solid #fff;
    object-fit: cover;
    border-radius: 0.35rem;
    padding: 50px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.45);
    border: 15px solid rgba(0, 0, 0, 0.7);
    transform: translate(-50%, -50%) translateZ(20px);
    animation: none;
  }

  .lightbox-image.current {
    z-index: 2;
  }

  .lightbox-image.previous {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  .lightbox-image.current.image-anim-a,
  .lightbox-image.current.image-anim-b {
    animation-duration: 240ms;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
    will-change: opacity;
  }

  .lightbox-image.current.image-anim-a {
    animation-name: lightboxFadeInA;
  }

  .lightbox-image.current.image-anim-b {
    animation-name: lightboxFadeInB;
  }

  .lightbox-image.previous.image-anim-a,
  .lightbox-image.previous.image-anim-b {
    animation-duration: 240ms;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
    will-change: opacity;
  }

  .lightbox-image.previous.image-anim-a {
    animation-name: lightboxFadeOutA;
  }

  .lightbox-image.previous.image-anim-b {
    animation-name: lightboxFadeOutB;
  }
}

@keyframes lightboxFadeInA {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes lightboxFadeInB {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes lightboxFadeOutA {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes lightboxFadeOutB {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media screen and (max-width: 1024px) {
  .lightbox {
    .lightbox-img img {
      display: block;
      position: relative;
      background-color: #fff;
      outline: 0 solid #fff;
      object-fit: cover;
      width: 100%;
      padding: 10px;
      height: auto;
      border-radius: 0.35rem;
      box-shadow: 0 1px 5px 0 rgba(255, 255, 255, 0.9);
      border: 0px solid rgba(0, 0, 0, 0.7);
    }

    .signature {
      display: none;
    }
  }
}
