:host {
  display: contents;
}

.lightbox {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 1000;

  .count {
    position: absolute;
    top: 0;
    left: 0;
    width: 90px;
    height: 10%;
    color: #fff;
    opacity: 0.7;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
  }

  .close-btn {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    background: 0 0;
    border: 0;
    width: 90px;
    height: 10%;
    z-index: 2;
    font-size: 18px;
  }

  .btn-lightbox-carousel {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    width: 90px;
    height: 8%;
    padding: 0;
    color: #fff;
    text-align: center;
    background: 0 0;
    border: 0;
    cursor: pointer;
  }

  .btn-prev {
    left: 0;
  }

  .btn-next {
    right: 0;
  }

  .icon-lightbox-carousel {
    color: #fff;
    opacity: 0.5;
    transition: all 0.15s ease;
    font-size: 18px;
  }

  .icon-lightbox-carousel:hover {
    opacity: 0.9;
  }

  .icon-lightbox-carousel:active {
    opacity: 0.5;
  }

  .signature {
    font-family: myfantasy, sans-serif;
    font-weight: bold;
    position: relative;
    bottom: 110px;
    right: 80px;
    color: rgba(255, 255, 255, 1);
    text-shadow:
      -1px 0 rgba(0, 0, 0, 0.56),
      0 1px rgba(0, 0, 0, 0.56),
      1px 0 rgba(0, 0, 0, 0.56),
      0 -1px rgba(0, 0, 0, 0.56);
    opacity: 0.9;
    font-size: 50px;
    display: flex;
    justify-content: right;
    align-items: center;
  }

  .lightbox-img img {
    display: flex;
    position: relative;
    background-color: #fff;
    outline: 10px solid #fff;
    object-fit: cover;

    border-radius: 0.35rem;
    padding: 50px;

    box-shadow: 0 1px 5px 0 rgba(255, 255, 255, 0.9);
    border: 15px solid rgba(0, 0, 0, 0.7);
  }
}

@media screen and (max-width: 1024px) {
  .lightbox {
    .lightbox-img img {
      display: block;
      position: relative;
      background-color: #fff;
      outline: 0 solid #fff;
      object-fit: cover;
      width: 100%;
      padding: 10px;
      height: auto;
      border-radius: 0.35rem;

      box-shadow: 0 1px 5px 0 rgba(255, 255, 255, 0.9);
      border: 0px solid rgba(0, 0, 0, 0.7);
    }
    .signature {
      display: none;
    }
  }
}
