<div
  class="lightbox"
  [class.is-open]="previewImage()"
  (transitionend)="onLightboxTransitionEnd($event)"
>
  <span class="count"> {{ getIndex() }}/{{ totalImageCount() }} </span>
  @if (previewImage()) {
    <button
      type="button"
      (click)="onclosePreview()"
      class="close-btn"
      title="Close"
    >
      <span
        class="icon-lightbox-carousel"
        onKeyPress=""
        onKeyDown=""
        onKeyUp=""
      >
        Close
      </span>
    </button>
  }
  @if (controls()) {
    <button
      type="button"
      class="btn-lightbox-carousel btn-prev"
      title="Previous"
      (click)="prev()"
    >
      <span class="icon-lightbox-carousel">Prev</span>
    </button>
  }
  @if (controls()) {
    <button
      type="button"
      class="btn-lightbox-carousel btn-next"
      title="Next"
      (click)="next()"
    >
      <span class="icon-lightbox-carousel">Next</span>
    </button>
  }
  <div class="lightbox-img" [class.is-open]="previewImage()">
    <div class="lightbox-frame">
      @if (isLoading()) {
        <div class="loading-msg">
          <img
            src="assets/camera-loader.svg"
            width="100"
            height="100"
            alt="loading..."
          />
        </div>
      }
      @if (previousLightboxImg(); as prevImg) {
        <img
          class="lightbox-image previous"
          [ngClass]="{
            'image-anim-a': imageAnimA(),
            'image-anim-b': !imageAnimA(),
          }"
          alt="{{ prevImg.title }}"
          src="{{ prevImg.url }}/width/{{ getLightboxRenderWidth() }}"
          width="{{ getGalleryImageWidth(prevImg.width, prevImg.height) }}"
          height="{{ getGalleryImageHeight(prevImg.width, prevImg.height) }}"
          aria-hidden="true"
        />
      }
      @if (currentLightboxImg(); as img) {
        <img
          #galleryPreviewImg
          class="lightbox-image current"
          [ngClass]="{
            'image-anim-a': imageAnimA(),
            'image-anim-b': !imageAnimA(),
            'page-next': pageFlipDirection() === 'next',
            'page-prev': pageFlipDirection() === 'prev',
          }"
          alt="{{ img.title }}"
          src="{{ img.url }}/width/{{ getLightboxRenderWidth() }}"
          width="{{ getGalleryImageWidth(img.width, img.height) }}"
          height="{{ getGalleryImageHeight(img.width, img.height) }}"
          priority
          (load)="onImageLoad()"
          (error)="onImageLoad()"
        />
      }
      <span class="signature">R.G.</span>
    </div>
  </div>
</div>
