@if (page(); as p) {
  <article class="mt-4 entry-content">
    <figure class="text-left">
      <blockquote class="blockquote">
        <h1>{{ p.title }}</h1>
      </blockquote>
      <figcaption class="blockquote-footer">
        <small>
          author:
          <strong>
            {{ p.author.username }} -
            <cite title="Source Title">{{ p.created_at | date }}</cite>
          </strong>
        </small>
      </figcaption>
    </figure>
    <div
      class="mt-4 {{ tag() }}"
      [innerHTML]="parsedBody()"
    ></div>
  </article>
}
